// FUNÇÕES E VARIAVES //
// Reseta autura de um box que contem elementos flutuantes
.clearboth {&:after { content: " "; display: block; height: 0; clear: both; font-size: 0; visibility: hidden; }}

// Alinha box no centro
.boxcenter(@a:50) { @px: (@a - (@a*2)) + 0px; @pc: @a + 0%; margin: 0 auto;  position: relative;  top: @pc;  margin-top: @px;  display: inherit; }

// Exibe IE
#ie{
	position: fixed;
    z-index: 10000000;
    top: 0px;
    width: 100%;
    display: block;

    .browser-list{
        margin: 15px;
        .browser-list-item{
            padding: 0px;
            display: inline-block;
            margin: 10px;

            &.browser-firefox{ img{height:100px;}}
            &.browser-chrome{ img{height:100px;}}
            &.browser-opera{ img{height:100px;}}
            &.browser-safari{ img{height:100px;}}
        }
    }
}


// Configura documento para a altura em 100%
html, body {height: 100%;}

// Oculta scroll horizontal
// body {overflow-x: hidden;}


// IMPORTA "CONFIGURA TEXTOS" //
@import "geral.text.less";

// IMPORTA "ITENS FREQUENTES" //
@import "geral.itens.less";

// CONFIGURA PAGINAS //
@import "header.menu.less";
@import "segmento.abertura.less";
@import "segmento.contato.less";
@import "segmento.informacao.less";
@import "segmento.palestrantes.less";
@import "segmento.programacao.less";

// CONFIGURA TAMANHOS DAS PAGINAS //
@import "text.responsive[min-1200].less";
@import "header.menu.responsive[min-1200].less";
@import "segmento.responsive[min-1200].less";
@import "segmento.abertura.responsive[min-1200].less";
@import "segmento.programacao.responsive[min-1200].less";
@import "segmento.palestrantes.responsive[min-1200].less";
