// FUNÇÕES E VARIAVES //
// Reseta autura de um box que contem elementos flutuantes
.clearboth {&:after { content: " "; display: block; height: 0; clear: both; font-size: 0; visibility: hidden; }}

// Alinha box no centro
.boxcenter(@a:50) { @px: (@a - (@a*2)) + 0px; @pc: @a + 0%; margin: 0 auto;  position: relative;  top: @pc;  margin-top: @px;  display: inherit; }


// IMPORTA "CONFIGURA TEXTOS" //
@import "geral.text.less";

// IMPORTA "ITENS FREQUENTES" //
@import "geral.itens.less";

html, body {height: 100%;}

body {overflow-x: hidden;}

// Configuração para pagina
.page {  min-height: 100% }

// Configura os conteudos
#contents {
    position: relative;
    top: 100%;
    margin-top: 230px;

    // Configura segmento
    .segmento {
        min-height: 100%;
        padding-bottom: 10%;
        margin-bottom: 2%;
        margin-top: 10%;
        border-bottom: 1px dashed rgb(240, 240, 240);

        .segmento-item {
            display: block;
            margin: 10% 0;
        }
    }
}

// Configura o menu
#menu {
    width: 100%;
    background-color: rgb(5, 30, 65);
    position: fixed;
    top: 0px;
    z-index: -1;

    // Configura barra do topo 
    .topo {
        padding: 0px;
        width: 1200px;
        height: 85px;
        margin: 0 auto;

        // configura logo do topo
        .logo-congresso {
            display: inline-block;
            margin-top: 16px;

            // figura
            img{ height: 51px }
        }
    }

    // Configuração do menu
    .menu {
        height: 31px;
        background-color: rgb(171, 159, 131);

        // configura menu group
        .menu-group {
            width: 1200px;
            margin: 0 auto;

            // configura botão
            .btn-menu{
                width: 55px;
                padding: 7px;
                float: left;
                margin-right: 36px;

                .icon-bar { border: 1px solid #FFF; }
            }


            // configura barra do menu
            .menu-group-nav {
                float: left;

                // Lista de itens do menu
                .menu-group-nav-list {
                    margin: 0;
                    padding: 0;

                    // Configura links individuais
                    .menu-group-nav-item {
                        font-size: 15px;
                        font-weight: 100;
                        text-transform: uppercase;
                        color: white;
                        padding: 5px 15px;
                        border-radius: 0px;

                        // Quando o mouse encima
                        &:hover { background-color: rgba(255, 255, 255, 0.36); }

                        // Sub itens
                        &.menu-group-nav-item-sub {
                            display: none;
                        }
                    }

                    // Configura inscricao
                    &.inscricao {
                        background-color: rgb(100, 192, 100);

                        // Configura quando o mouse
                        .menu-group-nav-item:hover { background-color: rgb(100, 192, 100); font-weight: 500;}
                    }
                }
            }
        }
    }
}

// CONFIGURA PAGINAS //

// Configura abertura
#abertura{
    width: 100%;
    position: absolute;
    top: 0%;
    z-index: 99!important;
    background-color: rgb(5, 30, 65);

    // Configura box abertura
    .abertura{
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 10!important;
        background-color: rgb(5, 30, 65);

        // Configura logomarca
        .logo-img {
            height: 60%;
            margin-top: 5%;
        }

        // configura as informacoes
        .informacoes {

            h1 {
                font-size: 2em;
                font-weight: 100;
                color: white;
            }
            h2 {
                font-size: 1.3em;
                font-weight: 100;
                color: white;
            }
        }

        // Configura icone da abertura
        .abertura-icon {
            margin-top: 50px;
            font-size: 4em;
            color: white!important;
            text-decoration: none; 
        }
    }
}

// Configura programacao
#programacao {

    // Configura cronograma group
    .cronograma-group {

        // quando tabela
        .cronograma-table {
            margin: 3% 0;

            // Itens
            .cronograma-table-item{

                // remove borda do primeiro item
                &:first-child {
                    td { border: 0; }
                }

                // Todos os elementos são vreticalmente centralizados
                * {vertical-align: middle;}

                // Confiura horario
                .cronograma-group-time {
                    width: 15%;
                    text-align: center;

                    // Bloco de tempo
                    .cronograma-tema-time-item {
                        display: inline-block;
                        font-weight: 100;
                        font-size: 14px;
                        color: white;
                        background-color: rgb(5, 30, 65);
                        border-radius: 0;
                        margin: 5px;
                    }
                }

                // Configura Imagem
                .cronograma-table-foto {
                    width: 100px;
                    text-align: right;

                    // imagem
                    img{ width: 80px; height: 110px;}
                }

                // Configura Nome do palestrante
                .cronograma-table-palestrante {
                    width: 20%;
                    text-align: left;

                    h1{ font-size: 25px; line-height: 51px; margin: 0px;}                    
                }

                // Configura tema do palestrante
                .cronograma-table-tema {
                    text-align: left;

                    p{ font-size: 18px; line-height: 22px; margin: 0px; }
                }

            }
        }
    }
}


// Configura palestrantes
#palestrantes{

    // ficha do palestrante
    .palestrante-item {

        // bloco da foto do palestrante
        .palestrante-item-foto{

            // foto
            img{}
        }

        // Nome do palestrante
        .palestrante-item-nome {

        }

        // Bloco de dados do palestrante
        .palestrante-item-info {

        }

        // Informações sobre o tema
        .palestrante-item-tema {

        }
    }
}
