// CONFIGURA ABERTURA

// inicio do segmento abertura
#abertura{
    width: 100%;
    position: absolute;
    top: 0%;
    z-index: 99!important;
    background-color: rgb(5, 30, 65);

    // Configura box abertura
    .abertura{
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 10!important;
        background-color: rgb(5, 30, 65);

        // Configura logomarca
        .logo-img {
            height: 60%;
            margin-top: 5%;
        }

        // configura as informacoes
        .informacoes {

            h1 {
                font-size: 2em;
                font-weight: 100;
                color: white;
            }
            h2 {
                font-size: 1.3em;
                font-weight: 100;
                color: white;
            }
        }

        // Configura icone da abertura
        .abertura-icon {
            margin-top: 50px;
            font-size: 4em;
            color: white!important;
            text-decoration: none; 
        }
    }
}
